.monitor {
    height: 40%;
    width: 90%;
    border: 2px #61dafb solid;
    border-radius: 6px;
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.error {
    color: darkred;
}

.valueError {
    font-size: 20px;
    color: darkred;
}

.isNotSet {
    font-size: 20px;
}