.inputItem {
    width: 90%;
    display: flex;
    justify-content: space-between;
}

.inputItem input {
    outline: none;
    border-radius: 5px;
}

.error {
    border: 2px darkred solid;
    background-color: lightpink;
}

.valueSetter {
    border: 2px #61dafb solid;
    border-radius: 5px;
}